/* screen - contacts */

/* root */
.contacts {
  background-color: var(--white-linen);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

/* header */
.contacts .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  height: 5vw;
  left: 15%;
  position: absolute;
  width: 100%;
  }

/* top left header logo */
.contacts .bci-logo-1-modified-2 {
  width: 5vw;
  height: auto;
}

/* gap between header and title */
.contacts .flex-col {
  flex-direction: column;
  margin-top: 3vw;
}

/* first 3 links inside header */
.contacts .flex-row {
  margin-left: 0;
  width: 100%;
  align-items: stretch;
}

/* "HOME" link */
.contacts .place {
  cursor: pointer;
  color: black;
  font-family: var(--font-family-raleway);
  text-decoration: none;
  padding-left: 2vw;
  font-size: 2.2vw;
}

/* "ABOUT US" link */
.contacts .about-us {
  cursor: pointer;
  color: black;
  font-family: var(--font-family-raleway);
  text-decoration: none;
  padding-left: 2.5vw;
  font-size: 2.2vw;
}

/* "OUR TEAM" link */
.contacts .our-team {
  cursor: pointer;
  color: black;
  font-family: var(--font-family-raleway);
  text-decoration: none;
  padding-left: 3vw;
  font-size: 2.2vw;
}


/* "INITIATIVES" link */
.contacts .initiatives {
  cursor: pointer;
  color: black;
  font-family: var(--font-family-raleway);
  text-decoration: none;
  padding-left: 3.5vw;
  font-size: 2.2vw;
}

/* "CONTACT US" link */
.contacts .place-1 {
  cursor: pointer;
  color: black;
  font-family: var(--font-family-raleway);
  text-decoration: none;
  padding-left: 4vw;
  font-size: 2.2vw;

}

/* thin line below links in header */
.contacts .line-1 {
  margin-left: 7.3vw;
  margin-top: -1.1vw;
  margin-left: 7.3vw;
  height: 0.2vw;
}

/* title section */
.contacts .contacts-title-sction {
  align-items: flex-start;
  font-size: 7vw;
  margin-top: 0vw;
  text-align: center;
}

/* holds CONTACT US header + subtitle text */
.contacts .overlap-group4 {
  align-items: flex-start;
  background-color: #cfd6f8;
  display: flex;
  flex-direction: column;
  gap: 21px;
  min-height: 376px;
  padding: 39px 84px;
  width: 1440px;
}

/* CONTACT US text */
.contacts .title {
  color: var(--black);
  font-family: var(--font-family-raleway);
  font-size: 8vw;
  font-weight: 800;
  margin-top: 5vw;
  text-align: center;
  margin-left: 2em;
}

/* text below CONTACT US */
.contacts .detail-detail-detail {
  letter-spacing: 0;
  line-height: normal;
  min-height: 139px;
  width: 1271px;
}

/* root for send message section */
.contacts .contacts-send-message-section {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-right: -4vw;
  margin-top: 68px;
  min-height: 973px;
  width: 1279px;
}

/*group class for all input boxes*/
.contacts .form-control {
  margin-left: 10vw;
  min-width: 50vw;
  font-size: 2vw;
  min-height: 4vw;
  max-height: 6vw;
  
}

@media screen and (max-width: 768px) {
  .contacts .form-control {
    font-size: 4.5vw; /* Minimum font size */
    min-height: 6vw;
  }
}

/* submit" button */
.contacts .overlap-group-1 {
  align-items: center;
  background-color: #a5b0e5;
  border-radius: 2.5vw;
  display: flex;
  height: 6vw;
  justify-content: center;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 5vw;
  min-width: 15vw;
  margin-bottom: 5vw;

  color: var(--black);
  font-family: var(--font-family-raleway);
  font-size: 2vw;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  padding: 0.5vw;
}

@media screen and (max-width: 768px) {
  .contacts .overlap-group-1 {
    font-size: 4vw; /* Minimum font size */
    min-width: 20vw;
    font-size: 3vw;
  }
}

/* footer (utilizing grids) */
.contactFooter {
  background-color: var(--shadow-blue);
  min-width: 100vw;
  overflow-y: hidden;
  display: grid;
  
  /* create a grid with 3 columns that occupy 100% (1.00) of the screen*/
  grid-template-columns: repeat(3, 1.00fr);
}

/* grid column 1 -> copyright */
.contactFooterLeft {
 grid-column: 1;
 padding-left: 3vw;
}

.contactFooterLeft p {
  /* for the plain text in the footer | <p> */
  color: white;
  font-size: 2vw;
  font-family: var(--font-family-raleway);
  margin-top: 1.5vw;
}

/* grid column 2 -> donate button */
.contactFooterCenter {
  grid-column: 2;
  padding-left: 8vw;
}

.contactFooterCenterButton {
  position: relative; /* Change to relative positioning */
  display: flex; /* Use flexbox for alignment */
  align-items: center;
  justify-content: center;
  background-color: #a5b0e5; /* Add a background color */
  border-radius: 3vw;
  margin-top: 2vw;

}

.contactFooterCenterText {
  position: absolute;
  top: 50%; /* Position text vertically in the middle */
  left: 50%; /* Position text horizontally in the middle */
  transform: translate(-50%, -50%); /* Adjust for exact centering */
  text-decoration: none;
  font-size: 2vw;
  font-weight: 600;
  color: var(--shadow-blue);
  font-family: var(--font-family-raleway);
  z-index: 1; /* Bring the text above the button */
}

/* grid column 3 -> social icons */
.contactFooterRight {
  grid-column: 3;
  padding-left: 8vw;
}

.contactFooterRight img {
  width: 3.5vw;
  height: auto;
  margin-right: 4vw;
  margin-bottom: 0.5vw;
  margin-top: 1vw;
}