@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,900,500,600,500italic,800,700italic|Sriracha:400|Radio+Canada:600");

body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  margin: 0; 
  padding: 0;
}
.screen a {
  display: contents;
  text-decoration: none;
}

.header {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  gap: 5vw;
  height: 5vw;
  justify-content: flex-start;
  left: 15%;
  /* min-width: 1016px; */
  /* padding: 0 0.0px; */
  position: absolute;
  top: 2vw;
  width: auto;
}

.navBarContainer {
  align-items: flex-start;
  display: flex;
  height: 4vw;
  left: 2vw;
  min-width: 22vw;
}
.navBarCurrent{
  color: var(--white);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-xl);
  font-weight: 700;
  margin-left: 2vw;
  letter-spacing: 0;
  line-height: normal;
  height: 7vw;
  width: auto;
  font-size: 2vw;
  position: relative;
}

/*about us header*/
.navBarLink {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  height: 7vw;
  width: auto;
  font-size: 2vw;
  position: relative;
  margin-left: 2vw;

}

.noMargin{
  margin-left: 0;
}

/*line under header*/
.navBarLine {
  height: 0.4vw;
  width: 61vw;
  margin-right: 20%;
  display: flex;
  margin: 0 auto;
  top: 70%;
  position: absolute;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.mainSection {
  position: relative;
  width: 100vw;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.auto-animated div {
  --z-index: -1;
  opacity: 0;
  position: absolute;
}

.auto-animated input {
  --z-index: -1;
  opacity: 0;
  position: absolute;
}

.auto-animated .container-center-vertical,
.auto-animated .container-center-horizontal {
  opacity: 1;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.listeners-active,
.listeners-active * {
  pointer-events: auto;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.listeners-active-click,
.listeners-active-click * {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.footerText {
  left: 12vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 2.3vw;
  color: var(--white);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.copyright{
  /* --z-index: 4; */
  background-color: transparent;
  color: #ffffff;
  font-family: 'Raleway', Helvetica;
  font-size: 3vw;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 8vw;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: right;
  top: 1.9vw;
  width: auto;
  }

.icon {
  cursor: pointer;
  position: absolute;
}

/*header logo*/
.headerLogo {
  height: 4.5vw;
  object-fit: cover;
  width: 4.5vw;
}

.learn-more-3 {
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}
.button{
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  position: absolute;
}

.mascot{
  background-color: transparent;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
}

.plant-boi-classic {
  object-fit: cover;
  position: absolute;
}
/*footer*/
.footer {
  background-color: var(--shadow-blue);
  height: 5em;
  left: 0;
  position: relative;
  margin-bottom: 0%;
  top: 0.5vw;
  width: 100%;
}
.footerGroup {
  height: 10vw;
  left: 0;
  position: absolute;
  width: 100%;
}

.icon-instagram {
  height: 2.7vw;
  left: 85vw;
  top: 2.2vw;
  width: 2.7vw;
}
.icon-social-youtube {
  height: 2.6vw;
  left: 77.8vw;
  top: 2.3vw;
  width: 2.7vw;
}

.icon-mail {
  height: 3vw;
  left: 70vw;
  top: 2.3vw;
  width: 3.5vw;
}
.donateButton {
  background-color: var(--white);
  border-radius: 1vw;
  cursor: pointer;
  height: 2.6vw;
  left: 55vw;
  position: absolute;
  top: 2.5vw;
  width: 10vw;
}

.donate {
  cursor: pointer;
  left: 56.5vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 2.7vw;
}

.footer-1 {
  background-color: var(--shadow-blue);
  height: 2vw;
  left: 0;
  position: absolute;
  top: 0.5vw;
  width: 100%;
}

.flex {
  align-items: flex-start;
  display: flex;
}

.place-3 {
  letter-spacing: 0;
  line-height: normal;
}

.emptyDiv {
  margin: 1.5vw;
}

#currentPage {
  font-weight: 800;
}