/* formatting for the body of the document */
.mffBody {
    background-color: var(--white-linen);
    display: flex;
    flex-direction: column;
  }
  
  /* formatting for the section headers | <h2> */
  .mffBody h2 {
    color: black;
    background-color: #E1D7C7;
    font-family: var(--font-family-raleway);
    font-weight: 500;
    font-size: 4vw;
    text-align: center;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    min-width: 100vw;
  }
  
  /* for the navbar */
  .mffHeaderContainer {
    background-color: var(--white-linen);
    min-width: 100vw;
  }

  /* for the navbar */
  .mffHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2vw;
    margin-left: 11vw;
  }
  
  /* for the logo in the navbar | <img/> */
  .mffHeader img {
    width: 5vw;
    height: auto;
  }
  
  /* for the links in the navbar | <a> */
  .mffHeader a {
    color: black;
    font-family: var(--font-family-raleway);
    text-decoration: none;
    padding-left: 2.5vw;
    font-size: 2.5vw;
  }
  
  /* for the rectangle vector in the navbar | <svg> */
  .mffHeader svg {
    fill: black;
    margin-left: 7.3vw;
    margin-top: -4.7vw;
  }

  .headerInitiatives {
    font-weight: bold;
  }

  .mffTitle h1 {
    color: black;
    font-family: var(--font-family-raleway);
    font-weight: 700;
    font-size: 5vw;
    text-align: center;
    margin-top: 2vw;
  }

  .description {
    text-align: center;
    width: 100vw;
    height: 9vh;
    flex-shrink: 0;
    color: #000;
    font-family: var(--font-family-raleway);
    font-size: 2.5vw;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: center;
    margin-top: 2vw;
  }

  .title1 {
    color: white;
    font-family: var(--font-family-raleway);
    font-weight: 700;
    font-size: 5vw;
    text-align: center;
    margin-top: 2vw;
    position: absolute;
  }

  .section1 {
    width: 100vw;
    height: 72.2vw;
    position: relative;
    margin-top: 3vw;
  }

  .section1bg {
    background-color: #75B8C3;
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 77.2vw;
  }

.photo2022 {
  margin-top: 15vw;
  width:100vw;
}

.title2 {
  color: white;
  font-family: var(--font-family-raleway);
  font-weight: 700;
  font-size: 5vw;
  text-align: center;
  margin-top: 2vw;
  position: absolute;
}

.section2 {
  width: 100vw;
  height: 72.2vw;
  position: relative;
  margin-top: 3vw;
}

.section2bg {
  background-color: #758BC3;
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 77.2vw;
}

.photo2023 {
margin-top: 15vw;
width:100vw;
}

  /* footer (utilizing grids) */
  .mffFooter {
    background-color: var(--shadow-blue);
    min-width: 100vw;
    overflow-y: hidden;
    display: grid;
    
    /* create a grid with 3 columns that occupy 100% (1.00) of the screen*/
    grid-template-columns: repeat(3, 1.00fr);
  }
  
  /* grid column 1 -> copyright */
  .mffFooterLeft {
   grid-column: 1;
   padding-left: 3vw;
  }
  
  .mffFooterLeft p {
    /* for the plain text in the footer | <p> */
    color: white;
    font-size: 2vw;
    font-family: var(--font-family-raleway);
    margin-top: 1.5vw;
  }
  
  /* grid column 2 -> donate button */
  .mffFooterCenter {
    grid-column: 2;
    padding-left: 8vw;
  }
  
  .mffFooterCenterButton {
    position: absolute;
    fill: white;
    margin-top: 1vw;
  }
  
  .mffFooterCenterText {
    text-decoration: none;
    position: absolute;
    font-size: 2vw;
    font-weight: 600;
    color: var(--shadow-blue);
    font-family: var(--font-family-raleway);
    padding-left: 3.6vw;
    margin-top: 1.75vw;
  }
  
  /* grid column 3 -> social icons */
  .mffFooterRight {
    grid-column: 3;
    padding-left: 8vw;
  }
  
  .mffFooterRight img {
    width: 3.5vw;
    height: auto;
    margin-right: 4vw;
    margin-bottom: 0.5vw;
    margin-top: 1vw;
  }