/* screen - contacts */

/* root */
.contacts {
  background-color: var(--white-linen);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

/* header */
.contacts .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  height: 5vw;
  left: 15%;
  position: absolute;
  width: 100%;
  }

/* top left header logo */
.contacts .bci-logo-1-modified-2 {
  width: 5vw;
  height: auto;
}

/* gap between header and title */
.contacts .flex-col {
  flex-direction: column;
  margin-top: 3vw;
}

/* first 3 links inside header */
.contacts .flex-row {
  margin-left: 0;
  width: 100%;
  align-items: stretch;
}

/* "HOME" link */
.contacts .place {
  cursor: pointer;
  color: black;
  font-family: var(--font-family-raleway);
  text-decoration: none;
  padding-left: 2vw;
  font-size: 2.2vw;
}

/* "ABOUT US" link */
.contacts .about-us {
  cursor: pointer;
  color: black;
  font-family: var(--font-family-raleway);
  text-decoration: none;
  padding-left: 2.5vw;
  font-size: 2.2vw;
}

/* "OUR TEAM" link */
.contacts .our-team {
  cursor: pointer;
  color: black;
  font-family: var(--font-family-raleway);
  text-decoration: none;
  padding-left: 3vw;
  font-size: 2.2vw;
}


/* "INITIATIVES" link */
.contacts .initiatives {
  cursor: pointer;
  color: black;
  font-family: var(--font-family-raleway);
  text-decoration: none;
  padding-left: 3.5vw;
  font-size: 2.2vw;
}

/* "CONTACT US" link */
.contacts .place-1 {
  cursor: pointer;
  color: black;
  font-family: var(--font-family-raleway);
  text-decoration: none;
  padding-left: 4vw;
  font-size: 2.2vw;

}

/* thin line below links in header */
.contacts .line-1 {
  margin-left: 7.3vw;
  margin-top: -1.1vw;
  margin-left: 7.3vw;
  height: 0.2vw;
}

/* title section */
.contacts .contacts-title-sction {
  align-items: flex-start;
  font-size: 7vw;
  margin-top: 0vw;
  text-align: center;
}

/* root for title section */
.contacts .overlap-group4 {
  align-items: flex-start;
  background-color: #cfd6f8;
  display: flex;
  flex-direction: column;
  gap: 21px;
  min-height: 376px;
  padding: 39px 84px;
  width: 1440px;
}

/* title text */
.contacts .title {
  color: var(--black);
  font-family: var(--font-family-raleway);
  font-size: 8vw;
  font-weight: 800;
  margin-top: 5vw;
  text-align: center;
  margin-left: 2em;
}

/* text below title */
.contacts .detail-detail-detail {
  letter-spacing: 0;
  line-height: normal;
  min-height: 139px;
  width: 1271px;
}

/* root for send message section */
.contacts .contacts-send-message-section {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-right: -80px;
  margin-top: 68px;
  min-height: 973px;
  width: 1279px;
}

/* "send us a message" text */
.contacts .send-us-a-message {
  color: var(--black);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-xxxxl);
  font-weight: 800;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 68px;
  min-height: 80px;
  text-align: center;
  width: 719px;
}

/* root for input boxes */
.contacts .overlap-group {
  height: 138px;
  margin-left: -1px;
  margin-top: 29px;
  position: relative;
  width: 1272px;
}

/* first 2 input boxes */
.contacts .rectangle-3 {
  background-color: var(--pearl-bush);
  border: 1px solid;
  border-color: var(--black);
  height: 56px;
  left: 0;
  position: absolute;
  top: 59px;
  width: 879px;
}

/* title for 1st input box */
.contacts .place-2 {
  left: 1px;
  position: absolute;
  top: 0;
  width: 1271px;
}

/* title for 2nd input box */
.contacts .email-address {
  left: 1px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 1271px;
}

/* root for 3rd input box */
.contacts .overlap-group2 {
  height: 352px;
  margin-left: -1px;
  margin-top: 29px;
  position: relative;
  width: 1272px;
}

/* 3rd input box */
.contacts .rectangle-3-1 {
  background-color: var(--pearl-bush);
  border: 1px solid;
  border-color: var(--black);
  height: 293px;
  left: 0;
  position: absolute;
  top: 59px;
  width: 879px;
}

/* title for 3rd input box */
.contacts .message {
  left: 1px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 1271px;
}

/* background rectangle for "submit" button */
.contacts .overlap-group-1 {
  align-items: flex-start;
  align-self: center;
  background-color: #a5b0e5;
  border-radius: 50px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 125px;
  justify-content: flex-end;
  margin-right: 424.0px;
  margin-top: 53px;
  min-width: 331px;
  padding: 33px 25px;
}

/* "submit" button text */
.contacts .submit {
  color: var(--black);
  font-family: var(--font-family-raleway);
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  min-height: 57px;
  text-align: center;
  width: 272px;
}

/* footer */
.contacts .footer {
  background-color: var(--shadow-blue);
  left: 0;
  position: relative;
  margin-bottom: 0%;
  top: 0.5vw;
  width: 100%;
  height: 5vw;
}


/*Belcanto 2022 text*/
.bel-canto-2022 {
  font-size: 1.5vw;
  height: 2.7vw;
  margin-left: 18vw !important;
  margin-bottom: 3.5vw;
  display: inline-block;
  vertical-align: middle;
  
}

/*copyright symbol*/
.contacts .copyright {
    color: #ffffff;
    font-family: 'Raleway', Helvetica;
    font-size: 3vw;
    font-weight: 400;
    left: 8vw;
    width: auto;
    position: absolute;
}

/* something in the footer */
.contacts .overlap-group-2 {
  height: 5vw;
  left: 0;
  position: relative;
  width: 100%;
}

/* instagram icon */
.contacts .icon-instagram {
  height: 2.7vw;
  left: 85vw;
  top: 1.4vw;
  width: 2.7vw;
}

/* youtube icon */
.contacts .icon-social-youtube {
  height: 2.6vw;
  margin-left: 77.8vw !important; 
  margin-top: 1.29vw;
  width: 2.7vw;
  vertical-align: middle;

}

/* email icon */
.contacts .icon-mail {
  height: 3vw;
  left: 70vw;
  top: 1.5vw;
  width: 3.5vw;
}

/* background rectangle for "donate" button */
.contacts .donateButton {
  background-color: var(--white);
  border-radius: 1vw;
  cursor: pointer;
  height: 2.3vw;
  left: 57vw;
  position: absolute;
  top: 1.5vw;
  width: 10vw;
}

/* "donate" button text */
.contacts .donate {
  cursor: pointer;
  left: 59vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1.5vw;
}