/* screen - our-team */

.our-team {
  align-items: flex-start;
  background-color: var(--white-linen);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 3341px;
  overflow: hidden;
  width: 1440px;
}

.our-team .header {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  gap: 31px;
  justify-content: flex-start;
  margin-left: 70px;
  margin-top: 50px;
  min-width: 1025px;
  width: auto;
}

.our-team .bci-logo-1-modified-2 {
  height: 54px;
  object-fit: cover;
  width: 60px;
}

.our-team .overlap-group18 {
  height: 44px;
  margin-bottom: 3.16px;
  position: relative;
  width: 924px;
}

.our-team .overlap-group17 {
  height: 43px;
  left: 0;
  position: absolute;
  top: 0;
  width: 924px;
}

.our-team .line-1 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 41px;
  width: 915px;
}

.our-team .place {
  cursor: pointer;
  left: 754px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 170px;
}

.our-team .about-us {
  cursor: pointer;
  left: 125px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 173px;
}

.our-team .our-team-1 {
  left: 323px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 184px;
}

.our-team .initiatives {
  cursor: pointer;
  left: 532px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 177px;
}

.our-team .place-1 {
  cursor: pointer;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 100px;
}

.our-team .our-team-title-section {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-left: 43.0px;
  margin-top: 67px;
  min-width: 1275px;
}

.our-team .overlap-group16 {
  height: 274px;
  position: relative;
  width: 1271px;
}

.our-team .title {
  color: var(--black);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-xxxxxl);
  font-weight: 700;
  left: 384px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 464px;
}

.our-team .detail-detail-detail {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 135px;
  width: 1271px;
}

.our-team .our-team-presidential-section {
  align-items: flex-start;
  display: flex;
  margin-left: 1px;
  margin-top: 4px;
  min-width: 1444px;
}

.our-team .overlap-group15 {
  height: 529px;
  position: relative;
  width: 1440px;
}

.our-team .overlap-group-container {
  height: 505px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.our-team .overlap-group13 {
  height: 431px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.our-team .group {
  background-color: var(--stark-white);
  height: 124px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.our-team .presidential {
  left: 351px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 15px;
  width: 737px;
}

.our-team .president-image1 {
  align-items: flex-start;
  background-color: var(--cornflower-lilac);
  display: flex;
  height: 279px;
  left: 606px;
  min-width: 216px;
  position: absolute;
  top: 152px;
}

.our-team .overlap-group {
  height: 279px;
  position: relative;
  width: 216px;
}

.our-team .vector {
  height: 224px;
  left: 20px;
  position: absolute;
  top: 29px;
  width: 176px;
}

.our-team .rectangle-66 {
  background-color: var(--blue-haze);
  height: 279px;
  left: 0;
  position: absolute;
  top: 0;
  width: 216px;
}

.our-team .vector-1 {
  height: 260px;
  left: 10px;
  position: absolute;
  top: 9px;
  width: 196px;
}

.our-team .plant-boi-container {
  height: 301px;
  left: 23px;
  position: absolute;
  top: 204px;
  width: 159px;
}

.our-team .plant-boi-classic-3 {
  height: 301px;
  left: 23px;
  top: 0;
  width: 136px;
}

.our-team .plant-boi-smile-2 {
  height: 246px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 37px;
  width: 99px;
}

.our-team .name {
  color: var(--fuscous-gray);
  font-family: var(--font-family-raleway);
  font-size: 24px;
  font-weight: 400;
  left: 613px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 447px;
  width: 209px;
}

.our-team .span0 {
  font-weight: 800;
}

.our-team .span1 {
  font-weight: 500;
}

.our-team .our-team-internal-section {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  margin-left: -6px;
  min-width: 1448px;
  padding: 0 2px;
}

.our-team .overlap-group12 {
  height: 812px;
  position: relative;
  width: 1440px;
}

.our-team .internal-relations {
  left: 166px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 16px;
  width: 1138px;
}

.our-team .group-78 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 17px;
  left: 92px;
  min-height: 386px;
  position: absolute;
  top: 169px;
  width: 338px;
}

.our-team .group-1 {
  align-items: flex-start;
  background-color: var(--cornflower-lilac);
  display: flex;
  margin-right: 1.62px;
  min-width: 216px;
}

.our-team .name-1 {
  min-height: 90px;
  width: 336px;
}

.our-team .group-21 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 17px;
  left: 375px;
  min-height: 278px;
  position: absolute;
  top: 256px;
  width: 289px;
}

.our-team .overlap-group-1 {
  background-color: var(--cornflower-lilac);
  height: 196px;
  position: relative;
  width: 169px;
}

.our-team .vector-2 {
  height: 158px;
  left: 15px;
  position: absolute;
  top: 20px;
  width: 138px;
}

.our-team .rectangle-66-1 {
  background-color: var(--blue-haze);
  height: 196px;
  left: 0;
  position: absolute;
  top: 0;
  width: 169px;
}

.our-team .vector-3 {
  height: 184px;
  left: 7px;
  position: absolute;
  top: 6px;
  width: 154px;
}

.our-team .name-2 {
  min-height: 65px;
  width: 287px;
}

.our-team .group-40 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 17px;
  left: 373px;
  min-height: 278px;
  position: absolute;
  top: 534px;
  width: 289px;
}

.our-team .name-3 {
  min-height: 65px;
  width: 287px;
}

.our-team .group-44 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 17px;
  left: 144px;
  min-height: 278px;
  position: absolute;
  top: 534px;
  width: 289px;
}

.our-team .name-4 {
  min-height: 65px;
  width: 287px;
}

.our-team .group-37 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 17px;
  left: 603px;
  min-height: 278px;
  position: absolute;
  top: 256px;
  width: 289px;
}

.our-team .name-5 {
  min-height: 65px;
  width: 287px;
}

.our-team .group-41 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 17px;
  left: 601px;
  min-height: 278px;
  position: absolute;
  top: 534px;
  width: 289px;
}

.our-team .name-6 {
  min-height: 65px;
  width: 287px;
}

.our-team .group-38 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 17px;
  left: 832px;
  min-height: 278px;
  position: absolute;
  top: 256px;
  width: 289px;
}

.our-team .yana-choudhary-admin-assistant {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 2.0px;
  min-height: 65px;
  text-align: center;
  width: 287px;
}

.our-team .group-42 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 17px;
  left: 830px;
  min-height: 278px;
  position: absolute;
  top: 534px;
  width: 289px;
}

.our-team .richie-zhang-it-coordinator {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 2.0px;
  min-height: 65px;
  text-align: center;
  width: 287px;
}

.our-team .group-39 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 17px;
  left: 1061px;
  min-height: 278px;
  position: absolute;
  top: 256px;
  width: 289px;
}

.our-team .riya-dua-adminhr-assistant {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 2.0px;
  min-height: 65px;
  text-align: center;
  width: 287px;
}

.our-team .group-43 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 17px;
  left: 1059px;
  min-height: 278px;
  position: absolute;
  top: 534px;
  width: 289px;
}

.our-team .name-7 {
  min-height: 65px;
  width: 287px;
}

.our-team .plant-boi-classic-2 {
  height: 293px;
  left: 0;
  top: 519px;
  width: 141px;
}

.our-team .our-team-communications-section {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  margin-left: -3px;
  margin-top: 64px;
  min-width: 1446px;
  padding: 0 2px;
}

.our-team .overlap-group11 {
  height: 527px;
  position: relative;
  width: 1441px;
}

.our-team .group-56 {
  background-color: var(--stark-white);
  height: 124px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.our-team .communications {
  left: 164px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 1138px;
}

.our-team .group-79 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 17px;
  left: 90px;
  min-height: 386px;
  position: absolute;
  top: 141px;
  width: 338px;
}

.our-team .name-8 {
  min-height: 90px;
  width: 336px;
}

.our-team .group-46 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 17px;
  left: 373px;
  min-height: 278px;
  position: absolute;
  top: 228px;
  width: 289px;
}

.our-team .name-9 {
  min-height: 65px;
  width: 287px;
}

.our-team .group-48 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 17px;
  left: 1063px;
  min-height: 278px;
  position: absolute;
  top: 228px;
  width: 289px;
}

.our-team .name-10 {
  min-height: 65px;
  width: 287px;
}

.our-team .group-49 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 17px;
  left: 601px;
  min-height: 278px;
  position: absolute;
  top: 228px;
  width: 289px;
}

.our-team .name-11 {
  min-height: 65px;
  width: 287px;
}

.our-team .group-53 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 17px;
  left: 832px;
  min-height: 278px;
  position: absolute;
  top: 228px;
  width: 289px;
}

.our-team .name-12 {
  min-height: 65px;
  width: 287px;
}

.our-team .plant-boi-classic-3-1 {
  height: 293px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 213px;
  width: 144px;
}

.our-team .our-team-logistics-section {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: -5px;
  margin-top: 16px;
  min-height: 829px;
  width: 1442px;
}

.our-team .overlap-group10 {
  height: 173px;
  position: relative;
  width: 1440px;
}

.our-team .logistics {
  left: 166px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 16px;
  width: 1138px;
}

.our-team .overlap-group9 {
  height: 656px;
  margin-left: 5px;
  position: relative;
  width: 1345px;
}

.our-team .group-80 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 17px;
  left: 92px;
  min-height: 386px;
  position: absolute;
  top: 0;
  width: 338px;
}

.our-team .yuan-cheng-vp-logistics {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 2.0px;
  min-height: 90px;
  text-align: center;
  width: 336px;
}

.our-team .group-59 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 17px;
  left: 370px;
  min-height: 278px;
  position: absolute;
  top: 83px;
  width: 289px;
}

.our-team .name-13 {
  min-height: 65px;
  width: 287px;
}

.our-team .group-60 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 17px;
  left: 370px;
  min-height: 278px;
  position: absolute;
  top: 378px;
  width: 289px;
}

.our-team .name-14 {
  min-height: 65px;
  width: 287px;
}

.our-team .group-61 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 17px;
  left: 141px;
  min-height: 278px;
  position: absolute;
  top: 378px;
  width: 289px;
}

.our-team .name-15 {
  min-height: 65px;
  width: 287px;
}

.our-team .group-62 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 17px;
  left: 598px;
  min-height: 278px;
  position: absolute;
  top: 83px;
  width: 289px;
}

.our-team .name-16 {
  min-height: 65px;
  width: 287px;
}

.our-team .group-63 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 17px;
  left: 598px;
  min-height: 278px;
  position: absolute;
  top: 378px;
  width: 289px;
}

.our-team .name-17 {
  min-height: 65px;
  width: 287px;
}

.our-team .group-64 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 17px;
  left: 827px;
  min-height: 278px;
  position: absolute;
  top: 83px;
  width: 289px;
}

.our-team .name-18 {
  min-height: 65px;
  width: 287px;
}

.our-team .group-65 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 17px;
  left: 827px;
  min-height: 278px;
  position: absolute;
  top: 378px;
  width: 289px;
}

.our-team .name-19 {
  min-height: 65px;
  width: 287px;
}

.our-team .group-66 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 17px;
  left: 1056px;
  min-height: 278px;
  position: absolute;
  top: 83px;
  width: 289px;
}

.our-team .name-20 {
  min-height: 65px;
  width: 287px;
}

.our-team .plant-boi-classic-4 {
  height: 293px;
  left: 0;
  top: 331px;
  width: 144px;
}

.our-team .footer {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: flex-start;
  margin-left: 1px;
  margin-top: 30px;
  min-width: 1446px;
  width: auto;
}

.our-team .overlap-group-2 {
  height: 85px;
  position: relative;
  width: 1440px;
}

.our-team .icon-instagram {
  height: 85px;
  left: 1181px;
  object-fit: cover;
  top: 0;
  width: 72px;
}

.our-team .icon-social-youtube {
  cursor: pointer;
  height: 35px;
  left: 1118px;
  position: absolute;
  top: 27px;
  width: 34px;
}

.our-team .icon-mail {
  height: 43px;
  left: 1023px;
  top: 27px;
  width: 52px;
}

.our-team .rectangle-46 {
  background-color: var(--white);
  border-radius: 15px;
  cursor: pointer;
  height: 38px;
  left: 817px;
  position: absolute;
  top: 24px;
  width: 150px;
}

.our-team .donate {
  cursor: pointer;
  left: 843px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 30px;
}

.our-team .name-21 {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 2.0px;
  text-align: center;
}
